@media screen and (max-width : 1000px) {
	body {
	
	}
}

@media screen and (max-width : 768px) {
	body {
	

	.left{
		margin:10px 0;
	}

	.w50 {
		width: 100%;
	} 

	article{
		min-height: 580px;
	}
}

@media screen and (max-width : 480px) {
	body {
	
	}
}