<article class="articleNewItem">
	<h2>Edit item</h2>
	<div class="newItemContainer">
		<div class="w50  newItemImputContainer">
			<span>Item :</span>
			<input type="text" id="editItemName" ng-model="itemToEdit.nombre">
		</div>
		<div class="w50 newItemImputContainer">
			<span>Descricion : </span>
			<input type="text" id="editItemDescripcion" ng-model="itemToEdit.descripcion">
		</div>
		<div class="w50 newItemImputContainer">
			<span>Costo: </span>
			<input type="number" id="editItemCosto" ng-model="itemToEdit.costo">
		</div>
		<div class="w50 newItemImputContainer">
			<span >imagen : </span>
			<input type="text" id="editItemIMagen" ng-model="itemToEdit.imagen">
		</div>
		<div class="left w50">
			<ul class="btns">
				<li class="left btnsli"><a href="/#/wishlist">Cancelar</a></li>
				<li class="left btnsli" ><span ng-click="saveEditItem(item)">Guardar</span><!--<input type="submit" id="submit" value="Submit" />--></li>
			</ul>
		</div>
	</div>
	<!--</form>-->
</article>