<article ng-controller="itemsController">
	<!--<form ng-submit="addItem(newItem)">-->
	<h2 ng-click="puedoGastar()">New item</h2>
	<div class="newItemContainer">
		<div class="w50  newItemImputContainer">
			<span>Item :</span>
			<input type="text" id="newItemName">
		</div>
		<div class="w50 newItemImputContainer">
			<span>Descricion : </span>
			<input type="text" id="newItemDescripcion">
		</div>
		<div class="w50 newItemImputContainer">
			<span>Costo: </span>
			<input type="text"id="newItemCosto">
		</div>
		<div class="w50 newItemImputContainer">
			<span >imagen : </span>
			<input type="text" id="newItemIMagen">
		</div>
		<div class="left w50">
			<ul class="btns">
				<li class="left btnsli"><a href="/#/wishlist">Cancelar</a></li>
				<li class="left btnsli" ng-click="addItem()"><span>Guardar</span><!--<input type="submit" id="submit" value="Submit" />--></li>
			</ul>
		</div>
	</div>
	<!--</form>-->
</article>