<article class="articleTab">
	<h2 class="clear">My {{actualTab}} items</h2>
	<div class="w50 itemBscContainer">
		<span>Buscar : </span>
		<input type="text" ng-model="searchText">
	</div>
	<div class="itemOrderContainer">
		<ul class="btns">
			<li class="btnsLabel">Ordenar por: </li>
			<li class="btnsli" ng-click=" ordenarPor = '-creado'"><a>Creado</a></li>
			<li class="btnsli" ng-click=" ordenarPor = '+fechaMod'"><a>Modificado</a></li>
		</ul>
	</div>
	<section class="clear itemContainer" ng-show ="actualTab == item.status"  ng-repeat="item in items | filter: searchText | orderBy:ordenarPor">
		<div class="left w50">

			<div class="itemImgContainer" ng-click="viewImage(item.imagen)">				
				<img  ng-src="{{item.imagen}}">
			</div>
			<div class="itemDataContainer">
				<p>{{item.nombre}}</p>
				<p>{{item.descripcion}}</p>
				<p>{{item.costo | currency}}</p>
				<p>{{item.fechaMod | date:'yyyy-MM-dd h:mm a'}}</p>
			</div>
		</div>
		<div class="left w50 itemBtnsContainer" class="itemIconsContainter" style="text-align:center;" ng-hide ="actualTab === 'bought'">
		
			<ul class=".btnsEdit">
				<li class="itemImgContainer itemEditContainter" ng-click="editItem(item)">
						<img src="http://www.clker.com/cliparts/P/3/n/5/9/E/pencil-th.png" alt="editar">
				</li>
				<li class="itemImgContainer itemEditContainter" ng-click="puedoGastar(item)">
					<a href="">
						<img src="http://edc.poolsupplyworld.com/wimages/highlights/highlights_thumbnail/symbol_dollar.jpg" alt="comprar">
					</a>
				</li>
			</ul>
		</div>
	</section>
</article>